<form class="layui-form" action="{:url('save')}" method="post" id="myform">
  <div class="layui-form-item layui-col-md5">
    <label class="layui-form-label layui-icon layui-icon-username">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="admin_name"   lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item layui-col-md5">
    <label class="layui-form-label layui-icon layui-icon-password">密码</label>
    <div class="layui-input-block">
      <input type="password" name="admin_pwd"  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    </div>
  <div class="layui-form-item layui-col-md5">
    <label class="layui-form-label layui-icon  layui-icon-picture-fine">邮箱</label>
    <div class="layui-input-block">
      <input type="text" name="admin_email"   lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item layui-col-md5">
    <label class="layui-form-label layui-icon layui-icon-cellphone">电话</label>
    <div class="layui-input-block">
      <input type="text" name="admin_tel"   lay-verify="required" placeholder="请输入电话" autocomplete="off" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
       <button  type="reset" class="layui-btn layui-btn-radius layui-btn-normal">重置</button>
    </div>
  </div>
</form>

<script>
  $(function(){
    $('#myform').submit(function(){ // 绑定表单的提交事件
      var data=$('#myform').serialize();// 就是你要提交表单所有的数据

      $.post(
          "{:url('save')}",
          data,function(res){
            alert(res.msg); // 查看你的错误信息
            if(res.code==1)
            {
              location.href="{:url('index')}";
            }
          },
          'json'
      );

      return false;
    });
  });
</script>
