<div style="width: 600px">
    <form class="layui-form" >
    <div class="layui-form-item">
        <p>{$data.user_name}于{php}echo date('Y-m-d H:i:s',$data['add_time']);{/php} 时间对 {$data.goods_name} 发表评论</p>
        <p> {$data.content}</p>
    </div>
    <div class="layui-form-item">
        
        <div class="layui-input-block">
            <input class="btn" type="button" id="{$data.c_id}" status="{$data.status}" name="brand_url" {if $data.status==0} value='允许显示' {else} value='禁止显示'{/if} >
        </div>
    </div>
   </form> 
    
    <form class="layui-form" action="{:url('Comment/replay',['id'=>$data.c_id])}" method="post" >
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="admin_name"  class="layui-input" value="{$user.admin_name}" disabled="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">email：</label>
        <div class="layui-input-block">
            <input type="text" name="email"   class="layui-input" value="{$user.admin_email}"  disabled="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">回复内容</label>
        <div class="layui-input-block">
             <textarea type="text" name="content" ></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即回复</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>
<script>
  $('.btn').click(function(){
      var id = $(this).attr('id');
      var status = $(this).attr('status');
      var obj = $(this);
       $.post(
                "{:url('Comment/changeStatus')}",
                {c_id:id,status:status},
                function(res){
                   var new_status = status==0?1:0;
                   obj.attr('status',new_status);
                   var value = new_status==0?'允许显示':'禁止显示';
                   obj.val(value);
                }
            );
  })
</script>